@model Online_Book_Store.Models.Book


@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>


@using (Html.BeginForm("Upload", "Books_Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <div class="form-horizontal">
        <h4>Book</h4>
        <hr />



        <div class="form-group">
            <div class="col-md-10">
                Upload File:<input type="file" name="file1" />   
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-default" />
            </div>
        </div>
        @ViewBag.Message
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

}
